.cuadrines {
    max-width: 700px;
    margin: auto;


}
.ciclos{
  max-width: 200px;
  margin: auto;
}
.fondoColors{



}
.colors{
background-color: #d9edf7;

font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 14px;
line-height: 1.42857143;
color: #333;

}
